# Java sources
*.java          text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=java

# These files are text and should be normalized (Convert crlf => lf)
*.xml           text
*.properties    text
*.bat           text
*.adoc          text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jar           binary